<!-- views folder ke andar error ka page banayenge because humne har router m try catch ka use kiya hai to handle the error if error comes then catch block m use handle kr lenge by showing the error page in response .....har router ke liye ek hi error page hoga means same error page hoga-->
<% layout('layouts/boilerplate') %>
<%- include('../partials/navbar') %>
<section class="container">
    <div class="row">
        <div class="col-lg-8">
            <%for(let item of user.cart){ %>
                <div class="card mx-auto shadow-lg mb-3" style="max-width: 540px;">
                    <div class="row g-0">
                      <div class="col-md-4">
                        <img src="<%=item.img%>" class="img-fluid rounded-start" alt="...">
                      </div>
                      <div class="col-md-8">
                        <div class="card-body">
                          <h5 class="card-title"><%=item.name%></h5>
                          <p class="card-text"><%=item.desc%></p>
                          <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
                        </div>
                      </div>
                    </div>
                  </div>
            <%}%>
        </div>
       <div class="col-lg-4">
        <ul class="list-group">
            <% for(let item of user.cart){ %>
                <li class="list-group-item">
                    <span class="fw-bold"><%=item.name%> - </span>$<%=item.price%> <span><%=item.desc%></span>
                </li>
            <% } %>
             <li class=" list-group-item fw-bold">Total Amount : $ <%=totalAmount%></li>
            
        </ul>
        <button class="btn btn-sm btn-success mt-3">Checkout</button>
       </div>
    </div>
    
</section>
<!-- checkout button pr click krte hi payment page pr chale jayenge -->
    


