<!-- har page pr layout function ke andar bolierplate.ejs file ka path pass krenge(but - nhi likhte) -->
<!-- layout function ke neeche jo bhi likhenge wo body m pass ho jayega -->
<% layout('layouts/boilerplate') %>

<div class="row">
    <div class="col-6 mx-auto">
        <form action="/products/<%=foundProduct._id%>?_method=PATCH" method="POST">
            <div class="mb-3">
                <label for="name" class="form-label">Name: </label>
                <input type="text" class="form-control" name="name" id="naam" placeholder="Name of Product" value="<%=foundProduct.name%>">
                <!-- edit.ejs and new.ejs dono file same hogi but the only difference is edit.ejs file m form m value attribute add krenge because jo data pehle se hai use dekhne ke liye  (means edit form ke andar pehle se data fill hona chahiye,tabhi uss data ko edit krenge)-->
                <!-- name attribute m vahi likhte hai jo humne schema m likha hai -->
            </div>
            <div class="mb-3">
                <label for="image" class="form-label">Image Url: </label>
                <input type="text" class="form-control" name="img" id="imge" placeholder="Image URL of Product" value="<%=foundProduct.img%>">
            </div>
            <div class="mb-3">
                <label for="paisa" class="form-label">Price: </label>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">Rs. </span>
                    <input class="form-control" type="number" name="price" id="paisa" step="any" placeholder="Price of Product" value="<%=foundProduct.price%>">
                </div>
            </div>
            <div class="mb-3">
                <label for="desc" class="form-label">Description: </label>
                <textarea class="form-control"  name="desc" id="des" rows="5" placeholder="Description of Product"><%=foundProduct.desc%></textarea>
            </div>
            <button type="submit" class="btn btn-sm btn-success">Edit Product</button>
            <!-- edit product button pr click krte hi patch request jayegi /products/:id/edit pr jo humne form define kiya hai in action attribute-->
        </form>
    </div>
</div>
<!-- jab bhi koi new file banayenge like new.ejs, show.ejs...toh usme  index.ejs file ka complete code copy paste kr denge then jo code change krna hai use change kr denge -->
