<!-- har page pr layout function ke andar bolierplate.ejs file ka path pass krenge(but - nhi likhte) -->
<!-- layout function ke neeche jo bhi likhenge wo body m pass ho jayega -->
<% layout('layouts/boilerplate') %>


<div class="row">
 
    <% for(let item of products){  %>
      <div class="col-lg-4 product-card height-300 mt-5">
        <div class="card mx-auto text-center shadow" style="width:18rem;">
          <img src="<%=item.img%>" class="card-img-top embed-responsive-item" alt="item image" height="190px">
          <div class="card-body">
            <h2 class="card-title"><%=item.name%></h2>
            <h5 class="card-title">Rs: <%=item.price%></h5>
            <p class="card-text"><%=item.desc%></p>
            <a href="/products/<%=item._id%>"  class="btn btn-info">View Product</a>
            <!-- jab view product button pr click krenge toh ek route hit hoga isliye index.ejs file m anchor tag m path denge -->
            <form class="d-inline-block" action="/products/<%=item._id%>?_method=DELETE" method="POST">
              <button class="btn btn-sm btn-danger ">Delete</button>
            </form>
          </div>
        </div>
        <!-- <div>
          <img src="<%=item.img%>" alt="">
             <h3><%=item.name%></h3>
             <h5><%=item.price%></h5>
             <p><%=item.desc%></p>
        </div>     -->
      </div>
    
   <%  }  %>
 
</div>

<!-- <%=  %>  iss tag ka use krte hai evaluate krne ke liye -->
